<div class="login-box">
    <div class="login-logo">
        <b>{{ NAME_APP }}</b>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form ngNativeValidate [formGroup]="forma" (ngSubmit)="login()">
            <div class="form-group has-feedback">
                <input type="email" formControlName="email" name="email" class="form-control" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" formControlName="password" name="password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="form-group">
                        <div class="checkbox icheck">
                            <label>
                        <input type="checkbox"> Remember Me
                        </label>
                        </div>
                    </div>

                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <a href="#">I forgot my password</a><br>


    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->